<html>

<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

    <!-- Static File Management   -->
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--
        CDN이란?
        - css, js 등 위의 예시처럼 외부 사이트에서 가져오게 되는데, 사용자에게 웹 콘텐츠를 효울적으로 제공하기 위해, 서버를 분산한 것을 의미한다.
        - Global Service를 할 경우, 전략적으로 배치된 문리적 노드에 콘텐츠를 캐싱(Cashing) 하여 사용자에게 고대역폭 콘텐츠를 제공한다.

        * 참고자료 : Azure CDN
    -->

</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>회원가입</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                {{ error }}  <!-- register.html 에 렌더링 할 때 에러메세지가 존재하면 메세지가 출력됨 -->
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <form method="POST" action=".">   <!-- 방식은 POST 방식으로 하며, 현재 주소에 액션을 할 것이므로 . 을 값으로 함 -->
                    {% csrf_token %}  <!-- Django 에서 데이터를 전달하기 위해 반드시 넣어야 되는 중요 설정 / 반드시 form 안에 넣어야 함 -->
                                      <!-- 크로스 도메인을 방지하기 위해서 암호화된 키를 넣어두는 것 / 안 써주면 에러 발생함 -->
                    <div class="form-group">
                        <label for="username">사용자명</label>
                        <input type="text" class="form-control" id="username" placeholder="사용자명" name="username">
                    </div>
                    <div class="form-group">
                        <label for="username">이메일</label>
                        <input type="email" class="form-control" id="useremail" placeholder="사용자 이메일" name="useremail">
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password">
                    </div>
                    <div class="form-group">
                        <label for="re-password">비밀번호 확인</label>
                        <input type="password" class="form-control" id="re-password" placeholder="비밀번호 확인" name="re-password">
                    </div>
                    <button type="submit" class="btn btn-primary">등록</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>